<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista degli Studenti</title>
</head>
<body>
	
	  <h1>Elenco Studenti</h1>
	
       <table border ="1">
    <caption></caption>
    <thead>
    <tr>
    <th>Studente matricola</th>
    <th>Nome</th>
    <th>Cognome</th>
    <th>Data di nascita</th>
    <th>Email</th>
    <th>Indirizzo</th>
    <th>Città di residenza</th>
    <th>Corso</th>
    <th></th>
    <th></th>
     </tr>
    </thead>
    <tbody>
    <tr th:each="studente:${elencoStudenti}">
    <td><span th:text="${studente.matricola}", class="span-1"></span></td>
    <td><span th:text="${studente.nome}", class="span-2" ></span></td>
    <td> <span th:text="${studente.cognome}", class="span-3"></span></td>
    <td><span th:text="${studente.dataDiNascita}", class="span-4"></span></td>
    <td><span th:text="${studente.email}",class="span-5"></span></td>
    <td><span th:text="${studente.indirizzo}",class="span-6"></span></td>
    <td> <span th:text="${studente.cittaDiResidenza}", class="span-7"></span></td>
    <td><span th:text="${studente.corso.nomeCorso}", class="span-8"></span></td>
    </tr>
    </tbody>
    </table>

    <a href="gestione-studenti-home">Clicca qui per ritornare alla sezione "Gestione Studenti" </a><br>
    <a href="form-inseriscistudente">Clicca qui per inserire un altro Studente</a><br>
    <a href="index"><p align ="center">Torna alla Home</p></a>
    
</body>
</html>