<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Università Di Atlantide</title>
</head>
<body>
	
	<form action="#" method="get" th:object="${studente}"  th:action="@{/gestione-studenti-home}">

	<h1><p align ="center"> Gestione Studenti</p></h1>
	
	<a href = "form-inseriscistudente"><font><p align ="center"><U>Aggiungi Studente</U></p></font></a><br>
	<a href = "elenco-studenti"><font><p align ="center"><U>Lista Degli Studenti</U></p></font></a><br>
	
	<a href="index"><p align ="center">Torna alla home</p></a><br>
</body>
</html>